@model string
@{
    string cookie = @Model;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>2nd Website</h1>
    <p>token: @(cookie ?? "N/A")</p>
    @if (cookie != null)
    {
        <p><a href="/payload">Show Payload</a></p>
        <form method="POST" action="/logout">
            <button type="submit">Sign Out</button>
        </form>
    }
</body>
</html>
